html,
body {
    margin: 0;
    font-family: Roboto;
}

body{
    height: ma;
}

header,
main,
footer {
    box-sizing: border-box;
    margin: 0 auto;
    width: 414px;
    background-color: #fff;
}

header,
footer {
    padding: 1.25rem;
}

/* Header */

header,
.head {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

header {
    justify-content: space-between;
}

header img {
    width: 1.5rem;
    height: 1.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: Source Sans 3;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 0.8rem;
    margin-left: 1.2rem;
}

h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 0.85rem;
    line-height: 108%;
    letter-spacing: -3%;
}

.hero-post {
    background: no-repeat bottom url(../images/img1.png);
    background-size: cover;
    padding: 0 1.25rem;
    padding-top: 5rem;
    color: #fff;
    padding-bottom: 1.5rem;
}

.hero-post p {
    margin: 0;
    font-family: Source Sans 3;
    font-weight: 400;
    font-style: Regular;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;

}

.hero-post h2 {
    font-family: Source Sans 3;
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    line-height: 108%;
    letter-spacing: -3%;

}

.hero-post-date {
    font-size: 0.75rem;
}

button {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    border: none;
    background-color: #fff;
    font-family: Source Sans 3;
    font-weight: 700;
    font-style: Bold;
    font-size: 1rem;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
}

footer {
    background: #202020;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer h2,
footer p {
    font-size: 0.75rem;
    color: #fff;
    margin: 0;
}

footer p {
    margin-top: 3px;
    color: #D7D7D7;
}

img{
    height: 20vh;
}

@media (min-width: 415px) {

    header,
    main,
    footer {
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
    }

    header {
        position: sticky;
        top: 0px;
    }

    main {
        /* margin-top: 2rem; */
    }

    .hero-post {
        height: 30.5rem;
        background: no-repeat center url(../images/img1.png); 
        background-size: cover;
    }
}